<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Movies & Series</ion-title>
    <ion-back-button defaultHref ="folder/:id"></ion-back-button>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <ion-card *ngFor="let movie of movieData">
    <img src="{{movie.Poster}}">
    <ion-card-header>
    <ion-card-subtitle>{{movie.Title}}</ion-card-subtitle>
    <ion-card-title>{{movie.Year}}</ion-card-title>
    <ion-card-title>{{movie.Type}}</ion-card-title>
    </ion-card-header>
    </ion-card>
    
</ion-content>
